# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# --- Maven ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr


# --- Arquivos do Sistema e Log ---
log/
*.log
.DS_Store
Thumbs.db

# --- Docker ---
.docker/
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
